/*here in this style section whatever we'ill write it will affect that code
for eg coding in body{} affect the body*/
body{
  background-image: url("download.jpg");
  background-repeat: no-repeat;
  background-size: 1700px 390px;
  background-position: top;
  background-color:#dfd3c3;
}

hr {
  background-color: #413c69;
  border-style: none;
  height: 2px;
}

/*SELECTORS*/
h1 {background-color:#7d5a5a; background-size:10px;text-align: center;color: #eedad1;font-style: italic;font-size: 70px;font-family:sans-serif;;}
a { background-color: #19456b;color: #f9f871; margin-left:1250px;text-align: right;background-position: right;padding-top: 1%;padding-bottom: 2%;padding-left: 1%;padding-right: 1%;border-radius: 50%}
h2{text-align: center;}
/*Class SELECTORS*/
.para { background-color:#c3aed6;color:#09015f;font-size:30px; text-align: center;background-position: center;margin-right:600px;padding-top: 1%;padding-bottom: 1%;margin-left:500px;}

/*ID SELECTORS*/
#second{ background-color:#d3e0ea;color:#09015f}
#profileimg{border-radius:80%; height:380px; width: 300px;margin-left:auto; display: block;}
#simg{height: 300px;width: 330px;float:left;}
#desc{background-color:#a7c5eb;float: right;margin-right: 400px;margin-top:70px;font-family: cursive;padding-top: 2%;padding-bottom: 3%;padding-left: 1%;padding-right: 1%;border-radius: 50%}


/*profileimg{border-radius: 50%; display: block; margin-left: auto; height="200px" ; width="200";}*/
